<!-- used in showing heirarchy in left pannel -->

<li>
 <div
  [ngClass]="{
    'menu-label': level === 0,
    'submenu-label': level === 1,
    'submenuChild-label': level === 2,
    'submenuGrandChild-label': level === 3,
    'leaf-label': isLeaf(item)
  }"
  [ngStyle]="{ 'padding-left.px': level * 20 }"
  (click)="isLeaf(item) ? selectItem(item.label) : toggleItem(item)"
>
  <ng-container *ngIf="!isLeaf(item)">
    <i class="bi" [ngClass]="item.expanded ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
    {{ item.label }}
  </ng-container>

  <ng-container *ngIf="isLeaf(item)">
    <span class="leaf-content">
      <i class="bi bi-dot dot-icon"></i>
      <span class="leaf-text">{{ item.label }}</span>
    </span>
  </ng-container>
</div>


  <ul *ngIf="item.expanded && item.children && item.children.length">
    <ng-container *ngFor="let child of item.children">
      <app-menu-item [item]="child" [level]="level + 1"></app-menu-item>
    </ng-container>
  </ul>
</li>
