<div class="sidebar" [class.collapsed]="!isSidebarOpen">

  <!-- <div class="logo-container">
    <img src="../../assets/logo/absa Logo.svg" class="logo" (click)="router.navigate(['/dashboard'])">
  </div> -->

  


  <!-- <ul class="nav-list"  >
    <li *ngFor="let item of ['Cash Deposit', 'Balance Inquiry', 'Funds Tran Req', 'Cust Info Mast Main', 'Sweep Out Mains', 'Customer earch', 'Spec Freq Statement', 'Acct Master Main']"
         (click)="selectItem(item)">
      {{ item }}
    </li>
  </ul> -->
<div class="heirarchyDiv">
<ul class="nav-list">
  <ng-container *ngFor="let item of menuItems">
    <app-menu-item [item]="item" [level]="0"></app-menu-item>
  </ng-container>
</ul>
</div>


  <button class="logout-btn">My To Do List</button>
</div>