/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
   --primary-color: #0A1F44;
  --text-color: #ffffff;
  --background-color: #F1F2F7;
  --button-color: #3B5077;
  /* background-color: #f7f7f7; */
}
body.theme-aqua {
  --primary-color: #1B6F75;
  --text-color: #000000;
  --background-color:#F3FCFC;
  --button-color:#2F8C94;
}

/* Crimson (Dark) */
body.theme-crimson {
  --primary-color: #8B0000;
  --text-color: #ffffff;
  --background-color: #FDF3F3;
  --button-color:#C94C4C;
}

/* Midnight (Blue) */
body.theme-midnight {
  --primary-color: #0A1F44;
  --text-color: #ffffff;
  --background-color:#F1F2F7;
  --button-color:#3B5077;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
